{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>Personal Info:</h3>
                <ul>
                    <li class="">Name: Seán Carley</li>
                    <li class="">Location: Dublin, Ireland</li>
                    <li class=""><a href="#" class="">Contact Me</a></li>
                </ul>
                <h3>Hobbies & Interests:</h3>
                <ul>
                    <li class="">Technology</li>
                    <li class="">Sim Racing</li>
                    <li class="">Kayaking</li>
                    <li class="">Rugby</li>
                    <li class="">Astronomy</li>
                    <li class="">Comics</li>
                </ul>
            </div>
            <div class="col-9">
                <h3>About Me:</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}