{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>Personal Info:</h3>
                <ul>
                    <li>Name: Seán Carley</li>
                    <li>Location: Dublin, Ireland</li>
                    <li>Contact: See <a href="#" class="">Contact Me</a> Page</li>
                </ul>
                <h3>Hobbies:</h3>
                <ul>
                    <li>iRacing</li>
                    <li>Golf</li>
                    <li></li>
                </ul>
            </div>
            <div class="col-9">
                <h3>About Me:</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}