@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Tags */
/* a {
    padding: 2rem;
} */

a:hover {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

footer {
    text-align: center;
    background-color: black;
    position: absolute;
    bottom: 0;
}

html {
    height: 100%;
    width: 100%;
}

span {
    margin: auto;
}

ul li a {
    color: inherit;
}

ul li a:hover {
    color: red;
}

/* Classes */
.capitalise {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.copyright {
    color: darkgray;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
}

.footer-header {
    text-align: center;
    color: darkgray;
    padding: 0.01em 0;
}

.hvr-sweep-to-left:before {
    background-color: darkgray;
}

.logo {
    background: url('../images/Batman.jpg') no-repeat center center;
    background-size: cover;
    /* border-right: solid #191a1f 1rem ; */
}

.logo-font {
    font-size: 3rem;
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.modal-title {
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    height: 4rem;
    border-right: solid darkgray 20px;
}

.social {
    text-align: center;
    margin-top: 0.8rem;
  }

.social-icons li a i{
    background-color: darkgray;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0.01em 0;
    text-align: center;
    transition: all 0.35s ease-in-out;
    width: 2rem;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }

.social-icons li a i:hover {
    background-color: white;
    color: darkgray;
  }

.social-item span {
    display: block;
    width: 100%;
    font-size: 1rem;
  }

.ui-menu-color-home {
    background-color: #191a1f;
    /* background: url('../images/Batman.jpg') no-repeat right center; */
    color: white;
    text-align: center;
    text-decoration: none;
}

.ui-menu-color-resume {
    background-color: #181b22;
    /* background: url('../images/Batman.jpg') no-repeat right bottom; */
    color: white;
    text-align: center;
    text-decoration: none;
}

.ui-menu-color-projects {
    background-color: #171b21;
    /* background: url('../images/Batman.jpg') no-repeat left bottom; */
    color: white;
    text-align: center;
    text-decoration: none;
}

.ui-menu-color-contact {
    background-color: #181b22;
    /* background: url('../images/Batman.jpg') no-repeat right top; */
    color: white;
    text-align: center;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-centre {
    margin: 0;
    position: inherit;
    top: 33%;
    -ms-transform: translateY(-33%);
    transform: translateY(-33%);
}

/* @media queries  */
/* x-small (eg: phone) */
@media (max-width: 600px) {}

    /* small (eg: tablet in portrait orientation) */
@media (min-width: 601px) and (max-width: 767px) {}

/* medium (eg: tablet in landscape orientation) */
@media (min-width: 768px) and (max-width: 991px) {}

/* large (eg: Laptop/desktop) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* x-large (eg: Large Laptop/desktop) */
@media (min-width: 1200px) {}