{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row no-gutters">
        <div class="col-3 section-side-section">
                <div class="row">
                    <div class="col">
                        <h3>How to Play: </h3>
                        <ol>
                            <li>
                                Start the Game by selecting the Difficulty Level.
                            </li>
                            <li>
                                Attempt to Guess the Combination by selecting a Colour for
                                each slot.
                            </li>
                            <li>
                                Press Submit when you are ready to guess.
                            </li>
                            <li>
                                Review the results of your guess, and adjust as required
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row mobile">
                    <div class="col">
                        <h3>Select your Difficulty level:</h3>
                    </div>
                </div>
                <div class="row mobile">
                    <div class="col-md-4">
                        <button id="easy-mm" class="button">Easy</button>
                    </div>
                    <div class="col-md-4">
                        <button id="med-mm" class="button">Medium</button>
                    </div>
                    <div class="col-md-4">
                        <button id="hard-mm" class="button">Hard</button>
                    </div>
                </div>
        </div>
        <div class="col-9 section-main-section">
            <div class="row mobile">
                <div class="col-md-5">
                    <h3 class="uppercase">MasterMind!</h3>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <button id="start" class="button">Start</button>
                </div>
                <div class="col-md-2">
                    <button id="guess" class="button">Guess</button>
                </div>
                <div class="col-md-2">
                    <button id="reset" class="button">Reset</button>
                </div>
            </div>
            <div class="row desktop-1">
                <div class="col">
                    <h3 id="note-mob" class="uppercase">MasterMind!</h3>
                </div>
            </div>
            <div class="row desktop-1">
                <div class="col">
                    <ul id="game_menu" class="list-inline menucontainer">
                        <li class="col-2 list-inline-item">
                            <button id="easy-mob" class="button">Easy</button>
                        </li>
                        <li class="col-2 list-inline-item">
                            <button id="med-mob" class="button">Med</button>
                        </li>
                        <li class="col-2 list-inline-item">
                            <button id="hard-mob" class="button">Hard</button>
                        </li>
                        <li class="col-2 list-inline-item">
                            <button id="start-mob" class="button">Start</button>
                        </li>
                        <li class="col-2 list-inline-item">
                            <button id="guess-mob" class="button">Guess</button>
                        </li>
                        <li class="col-2 list-inline-item">
                            <button id="reset-mob" class="button">Reset</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col game-area"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'projects/js/mastermind.js' %}"></script>
{% endblock %}