{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>My Projects:</h3>
                <ol>
                    <li>Astroprints.com</li>
                    <li>Traffic Management</li>
                    <li>
                        Games
                        <ul>
                            <li>Simon Says</li>
                            <li>Mastermind</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="col-9">
                <h3>My Work</h3>
                The list on the left is a selection of some of the work that I have completed.
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block post_load_js %}{% endblock %}